@font-face {
    font-family: 'astronauta_script';
    src: url('../fonts/astronauta_script-webfont.eot');
    src: url('../fonts/astronauta_script-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/astronauta_script-webfont.woff') format('woff'),
         url('../fonts/astronauta_script-webfont.ttf') format('truetype'),
         url('../fonts/astronauta_script-webfont.svg#astronauta_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}